@font-face {
  font-family: 'Amatic Bold';
  src: url("fonts/amatic-bold-webfont.eot");
  src: url("fonts/amatic-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/amatic-bold-webfont.woff2") format("woff2"), url("fonts/amatic-bold-webfont.woff") format("woff"), url("fonts/amatic-bold-webfont.ttf") format("truetype"), url("fonts/amatic-bold-webfont.svg#amaticbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Amatic Regular';
  src: url("fonts/amaticsc-regular-webfont.eot");
  src: url("fonts/amaticsc-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/amaticsc-regular-webfont.woff2") format("woff2"), url("fonts/amaticsc-regular-webfont.woff") format("woff"), url("fonts/amaticsc-regular-webfont.ttf") format("truetype"), url("fonts/amaticsc-regular-webfont.svg#amatic_scregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* line 21, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 26, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
html {
  text-align: center; }

/* line 29, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
article {
  font-family: "Open Sans", sans-serif; }

/* line 32, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
.wrapper {
  margin: auto;
  text-align: center;
  width: 95%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 40, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
header {
  background: #f1c40f;
  color: #fff;
  font-family: "Amatic Bold";
  text-shadow: 0 0 50px #333;
  height: 60vh;
  width: 100%; }
  /* line 51, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
  header .wrapper h1 {
    font-size: 16vw;
    margin: 0% 1% 0% 1%; }
  /* line 55, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
  header .wrapper small {
    font-size: 4vw;
    margin: 0% 1% 1% 1%; }

/* line 62, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
#article1 {
  color: #444;
  font-family: "Open Sans", sans-serif;
  height: 60vh; }
  /* line 69, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
  #article1 .wrapper .col {
    padding: 0 2%;
    width: 29%;
    display: inline-block;
    vertical-align: text-top; }
    /* line 75, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
    #article1 .wrapper .col i {
      font-size: 4vw; }
    /* line 78, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
    #article1 .wrapper .col h1 {
      font-size: 2.5vw; }
    /* line 81, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
    #article1 .wrapper .col p {
      font-size: 1.3vw; }

/* line 88, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
#article2 {
  background: #f1c40f;
  height: 50vh; }
  /* line 94, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
  #article2 .wrapper h1 {
    color: #fff;
    text-shadow: 0 0 50px #333;
    font-size: 5vw;
    font-weight: 300;
    padding: 12%;
    padding-top: 0; }
  /* line 102, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
  #article2 .wrapper .col {
    display: inline-block;
    width: 45%; }
    /* line 106, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
    #article2 .wrapper .col blockquote {
      background: #fff;
      border: solid 2px #7f8c8d;
      border-radius: 10px;
      box-shadow: 0 0 20px #444;
      font-size: 2vw;
      padding: 1%;
      text-align: left;
      height: 4%; }
      /* line 116, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
      #article2 .wrapper .col blockquote .blue {
        color: #3374bc; }
      /* line 119, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
      #article2 .wrapper .col blockquote .red {
        color: #a71d5d; }
      /* line 122, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
      #article2 .wrapper .col blockquote .orange {
        color: #ff8000; }
      /* line 125, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
      #article2 .wrapper .col blockquote .green {
        color: #007700; }
      /* line 129, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
      #article2 .wrapper .col blockquote .mcq-code, #article2 .wrapper .col blockquote .mcq-terminal {
        color: #7f8c8d;
        margin-right: 4%; }
    /* line 134, M:/Jake Taylor Web Design/Work/MCQ/Web Page/css/style.scss */
    #article2 .wrapper .col .code {
      font-family: monospace; }

/*# sourceMappingURL=style.css.map */