@import 'fonts';
@import 'mixins';
@import 'hover-min';

$font-amatic-bold: 'Amatic Bold';
$font-amatic: 'Amatic Regular';
$font-body: 'Open Sans', sans-serif;

$color-black: #333;
$color-grey: #444;
$color-lgrey: #7f8c8d;
$color-vlgrey: #aaa;
$color-white: #fff;
$color-yellow: #f1c40f;
$color-dpurple: #833FA0;
$color-lpurple: #9b59b6;
$color-vdpurple: #82489B;

* {
    margin: 0;
    padding: 0;
}

html{
    text-align: center;
    
    @include background-gradient($color-lpurple, $color-vdpurple);
}
article{
    font-family: $font-body;
}
.wrapper{
    margin: auto;
    width: 80%;
}

nav{
    order: 2;
    flex: 4 0 0;
    -webkit-flex: 4 0 0;
    text-align: right;
    
    ul{
        list-style-type: none;
        
        li{
            display: inline;
            
            a{
                color: $color-white;
                display: inline;
                text-decoration: none;
                font-size: 400%;
                margin-left: 5%;
            }
        }
    }
}
#header-container{
    display: flex;
    height: 20%;
    vertical-align: middle;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}

header{
    color: $color-white;
    font-family: $font-body;
    text-align: left;
    height: 200%;
    width: 100%;
    
    .wrapper{
        text-align: left;
        
        #logo{
            order: 1;
            -webkit-flex: 1 0 0;
            flex: 1 0 0;
            text-align: center;
            width: 20%;
            
        
            h1{
                font-family: $font-amatic-bold;
                font-size: 1000%;
                margin: 0% 1% 0% 1%;
            }
            small{
                font-family: $font-amatic-bold;
                font-size: 260%;
                margin: 0% 1% 1% 1%;
            }
        }
        
        .container{
            text-align: center;
            
            #title{
                font-size: 350%;
                font-weight: 700;
                text-transform: lowercase;
                margin-top: 8%;
                
                @include three-d-text();
            }
            
            .col{
                padding: 10% 2%;
                width: 29%;
                display: inline-block;
                vertical-align: text-top;

                i{
                    font-size: 500%;
                }
                h1{
                    font-size: 275%;
                }
                p{
                    font-size: 140%;
                }
            }
        }
    }
}

#article1{
    background: $color-white;
    color: $color-grey;
    
    h1{
        font-size: 275%;
        padding: 1% 0;
    }
    
    .wrapper{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        
        .row{
            padding: 1% 0;
            width: 100%;
            
            p{
                padding: 1% 0;
            }
            .col{
                display: inline-block;
                width: 48%;
                overflow: hidden;
                
                h2{
                    font-size: 200%;
                    padding: 0;
                }
            }
        }
    }
}